body {
	font: 100 100% Helvetica, Arial, sans-serif;
	color: rgb(50,50,50);
	line-height: 1.5em;
	width: 100%;
}
h1 {
	font-weight: bold;
	font-size: 1.5em;
}
h2 {
	font-weight: bold;
	font-size: 1.2em;
}
a {
	color: rgb(100,100,100);
}
em {
	font-style: italic;
}
#page {
	padding: 0 2em;
}
#masthead {
	padding: 3em 0 1.2em;
	border-bottom: 1px rgb(100,100,100) dotted;
}
#masthead h1 {
	font-size: 2em;
}
#masthead a {
	text-decoration: none;
	color: rgb(50,50,50);
}
.content {
	margin-top: 1.2em;
}
.content p {
	margin-bottom: 1.2em;
}
.content h2 {
	margin: 2em 0 .8em;
}
footer {
	padding: 1.2em 0 3em;
	border-top: 1px rgb(100,100,100) dotted;
}
.copyright {
	font-size: .9em;
}