---
layout: one
title:  Résumé
---

{% assign resume = site.data.resume %}

<h1>{{ resume.name }}</h1>
<h2>{{ resume.label }}</h2>

<nav>
  <ul>
    <li><a href="#biography"><i class="fa fa-user"></i> Biography</a></li>
    <li><a href="#experience"><i class="fa fa-building"></i> Experience</a></li>
    <li><a href="#education"><i class="fa fa-graduation-cap"></i> Education</a></li>
  </ul>
</nav>

<section id="biography">
  <h3>Biography</h3>
  <p>
    I am a full-stack, polyglot web developer with over ten years of experience programming, designing, and debugging software. On my recent projects, I've enjoyed learning PHP and Symfony2 on the fly, and I typically use Python on my personal projects The remainder of my professional work has been in C#.
  </p>
  <p>
    I'm seeking a senior role on a web development team where I can contribute code on both the front- and back-ends.
  </p>
</section>

<section id="skills">
  <h3>Skills</h3>
  <ul>
    <li>
      Programming Languages
      <ul>
        <li>PHP</li>
        <li>JavaScript</li>
        <li>Python</li>
        <li>C#</li>
      </ul>
    </li>
    <li>
      Web Frameworks
      <ul>
        <li>Symfony 2</li>
        <li>jQuery</li>
        <li>ASP.NET</li>
        <li>SharePoint</li>
      </ul>
    </li>
    <li>
      Tools
      <ul>
        <li>Git</li>
        <li>Vagrant</li>
        <li>Jenkins</li>
        <li>Docker</li>
      </ul>
    </li>
  </ul>
</section>

<section id="experience">
  <h3>Experience</h3>

  {% for job in resume.work %}
  <section>
    <header>
      <h4>{{ job.company }} - {{ job.position }}</h4>
      <h5>
        {{ job.started_on | date: "%F" }}
        -
        {% if job.ended_on %}
          {{ job.ended_on | date: "%F" }}
        {% else %}
          Present
        {% endif %}
      </h5>
    </header>
    Accomplishments
    <ul>
    {% for accomplishment in job.accomplishments %}
      <li>{{ accomplishment }}</li>
    {% endfor %}
    </ul>
    Technologies
    <ul>
    {% for tech in job.technologies %}
      <li>{{ tech }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endfor %}
</section>

<section id="education">
  <h3>Education</h3>
  <ul>
  {% for e in resume.education %}
    <li>{{ e.degree }}, {{ e.school }}, {{ e.graduated_on }}.</li>
  {% endfor %}
  </ul>
</section>
