---
layout: default
---
<div class="col-sm-8">
	{{ content }}
</div>
<div class="col-sm-3 col-sm-offset-1 sidebar">
	<div>
		<p class="lead" itemscope itemtype="http://data-vocabulary.org/Person">
			I'm a <span itemprop="title">Software Engineer</span>
			in <span itemprop="address" itemscope itemtype="http://data-vocabulary.org/Address">
				<span itemprop="locality">Cincinnati</span></span>.
		</p>
	</div>
	<div>
		<ul class="list-unstyled">
			<li><a href="https://twitter.com/johnberberich"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="https://github.com/johnberberich"><i class="fa fa-github-square"></i></a></li>
			<li><a href="http://www.linkedin.com/in/johnberberich"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="#"><i class="fa fa-envelope"></i></a></li>
		</ul>
	</div>
</div>
