---
layout: default
---
<div class="col-sm-8">
	{{ content }}
</div>
<div class="col-sm-3 col-sm-offset-1 sidebar">
	<div>
		<ul class="list-unstyled">
			<li><a href="https://twitter.com/johnberberich"><i class="fa fa-twitter-square"></i></a></li>
			<li><a href="https://github.com/johnberberich"><i class="fa fa-github-square"></i></a></li>
			<li><a href="http://www.linkedin.com/in/johnberberich"><i class="fa fa-linkedin-square"></i></a></li>
			<li><a href="#"><i class="fa fa-envelope"></i></a></li>
		</ul>
	</div>
</div>
